<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">
    <head th:insert="~{partials/head :: head}"></head>
    <body>
        <div class="container mt-5">
            <h3>Поиск заказов</h3>
            <table class="table table-hover mt-2">
                <tbody th:each="order : ${orderList}">
                    <td th:text="${order.getOrderId}"></td>
                    <td>
                        <a th:href="'order/' + ${order.getOrderId}">
                            <p th:text="${order.getCreationDate}"></p>
                        </a>
                    </td>
                    <td th:text="${order.getOrderStatus}"></td>
                </tbody>
            </table>
        </div>

        <footer th:insert="~{partials/footer :: footer}"></footer>
    </body>
</html>