<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">
    <head th:insert="~{partials/head :: head}"></head>
    <body>
        <div class="container mt-5 mb-5">
            <a th:href="@{/admin}">Назад</a>
            <div class="card">
                <div th:text="'Заказ от ' + ${order.getCreationDate}" class="card-header"/>

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <div class="dropdown">
                            <button th:text="'Статус ' + ${order.getOrderStatus}" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"/>
                            <ul class="dropdown-menu">
                                <li th:each="status : ${statusList}" >
                                    <a th:text="${status}" th:id="${status.toString}" class="dropdown-item" onclick="setStatus(this)"></a>
                                </li>
                            </ul>
                        </div>

                        <p>Детали</p>
                        <div th:each="detail : ${order.getDetailList}">
                            <footer th:text="${detail.getDetailName} + ' ' + ${detail.getDetailDescribe}" class="blockquote-footer"/>
                        </div>

                        <p>Изделия</p>
                        <div th:each="item : ${order.getItemList}">
                            <footer th:text="${item.getItemName} + ' ' + ${item.getItemDescribe}" class="blockquote-footer"/>
                        </div>

                        <p th:text="${order.getOrderText}"/>
                    </blockquote>
                </div>
            </div>
        </div>

        <script th:inline="javascript" type="text/javascript">
            async function setStatus(status) {
                let statusID = status.id;
                let orderID = [[${order.getOrderId}]];

                console.log(statusID, orderID);

                let requestString = `/api/order/set_status?orderStatus=${statusID}&orderModel=${orderID}`;
                let response = await fetch(requestString, {
                    method: 'GET'
                });

                let answer = await response.text();
                alert(answer);

                location.reload();
            }
        </script>
        <footer th:insert="~{partials/footer :: footer}"></footer>
    </body>
</html>